# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\ExtremeTech\Documents\GitHub Desktop\Tarea3-Sockets-Lenguajes-Java\Java - Multisockets\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
